body{
    background-color: rgb(205, 244, 251);
    overflow: scroll;
}
.frase{
    font-size: 20px;
}
.campo-digitacao{
    font-size: 20px;
    height: 120px;
}

.campo-desativado{
    background-color: lightgray;
}

.icones{
    vertical-align: middle;

}
.botao{
    display: block;
    width: 150px;
    height: 70px;
    margin: 20px 20px;
    background-color: orange;
    font-weight: bold;
    border-radius: solid 1px orange;
    border-radius: 15px;
    transition: 1s;
    box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
}
.botao{
    font-size: 19px;
    background-color:rgb(235, 94, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    
    width: 152px;
    height: 72px;
}
.borda-verde{
    border:3px solid green;
}
.borda-vermelha{
    border:3px solid red;
    
}
#botao-placar{
    background-color: green;
}
.botoes{
    display: flex;
    justify-content: center;
}
.placar{
    display:none;
}